---
- name: Установка и настройка Nginx
  hosts: webservers
  become: yes # выполняем задачи от имени root

  vars:
    http_port: 80
    server_name: "Shat_test"
    my_name: "Simon"

  tasks:
    # обновляем кэш apt перед установкой
    - name: Обновить кэш apt
      apt:
        update_cache: yes

    - name: Установить nginx
      apt:
        name: nginx
        state: present # оставить если установлен(absent — удалить, latest — обновить до последней версии)

    # копируем нашу html страницу на сервер
    - name: Задеплоить кастомную страницу
      template:
        src: templates/index.html.j2
        dest: /var/www/html/index.html
        mode: "0644"
      notify: Restart Nginx #  если файл изменился - в конце play вызовет handler с именем "Restart Nginx"

    # убеждаемся что nginx запущен и стартует при перезагрузке
    - name: Запустить nginx
      service:
        name: nginx
        state: started
        enabled: yes

    # просто смотрим статус - ничего не меняем
    - name: Проверить что nginx слушает порт {{ http_port }}
      shell: ss -tlnp | grep {{ http_port }} #можно command вместо shell, но тогда нужно писать без пайпа
      register: port_check #В переменной port_check будут поля stdout, stderr, returncode
      changed_when: false # эта task никогда не считается изменившей что-то.

    - name: Вывести результат проверки порта
      debug:
        msg: "{{ port_check.stdout }}"

  handlers:
    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
